.App {
  text-align: center;
}

h1 {
  font-weight: 700 !important;
  position: relative;
}

h1::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px; /* Adjusts the position of the underline */
  width: 8%;
  height: 3px; /* Thickness of the underline */
  background-color: #0e4a8e; /* Color of the underline */
}

/* Custom progress bar styles */
.styled-progress-bar .progress-bar {
  background-color: #002a6e; /* Custom fill color */
  color: #ffffff; /* Custom text color */
}

.styled-progress-bar .progress {
  background-color: #d6d6d6; /* Custom background color */
}

@keyframes fade {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
}

.styled-progress-bar .progress-bar {
  animation: fade 1.5s infinite ease-in-out;
  background-color: #0e4a8e; /* Custom color */
}
