:root {
  --box-shadow-light: 0 0 1rem rgba(0, 0, 0, 0.1);
  --box-shadow-heavy: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
}

.container {
  padding: 1.25rem;
  margin-top: 3rem;
  box-shadow: var(--box-shadow-light);
  border-radius: 0.5rem;
}

/* Navbar */
.brand-name {
  font-weight: bold;
  color: white;
  margin-left: 0.625rem;
  font-size: 1.25rem;
}

.customised-navbar {
  width: 100%;
  background-color: #0e4a8e;
  color: white;
  padding: 0.625rem 1.25rem;
  box-shadow: var(--box-shadow-heavy);
  position: fixed;
  top: 0;
  left: 0;
}
