body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  font-family: "Aller";
  color: #0e4a8e;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Aller";
  src: url("fonts/Aller-Regular.woff2") format("woff2"),
    url("fonts/Aller-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Aller";
  src: url("fonts/Aller-Bold.woff") format("woff"),
    url("fonts/Aller-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
