/*global*/
body {
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f5f5f5;
  font-family: "Aller", sans-serif;
  color: #0e4a8e;
}
@font-face {
  font-family: "Aller";
  src: url("fonts/Aller-Regular.woff2") format("woff2"),
    url("fonts/Aller-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Aller";
  src: url("fonts/Aller-Bold.woff") format("woff"),
    url("fonts/Aller-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

.styled-progress-bar .progress-bar {
  animation: fade 1.5s infinite ease-in-out;
  background-color: #0e4a8e;
}
.progress-container {
  display: flex;
  align-items: center;
}
.progress-label {
  margin-right: 0.625rem;
  font-weight: bold;
  color: #0e4a8e;
}

.styled-progress-bar {
  flex-grow: 1;
}

@keyframes fade {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
}

/*questions*/
.question-container {
  padding: 1rem 0;
  border-bottom: 0.1rem solid #0e4a8e;
}
.question-title {
  font-weight: bold;
  color: #0e4a8e;
}

.question-title::after {
  content: "";
  display: block;
  width: 40%;
  height: 0.2rem;
  background-color: #1a3d6e;
  margin-top: 0.25rem;
  margin-bottom: 1.3rem;
}
.form-group {
  margin-bottom: 2rem;
  width: fit-content;
}

.name-fields {
  display: flex;
  gap: 1rem;
}

.first-name-container label,
.last-name-container label {
  color: #1a3d6e;
  font-size: 0.875rem;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input {
  cursor: pointer;
}

input[type="text"],
input[type="date"] {
  padding: 0.625rem;
  background-color: #e6f0fa;
  border: 0.06rem solid #a4c8e0;
  box-shadow: inset 0 0.06rem 0.2rem rgba(0, 0, 0, 0.1);
}

input[type="text"]::placeholder {
  color: #a4c8e0;
}
